/* .pool-menu {
  margin-bottom: 20px;
} */

.menu-button {
  margin-right: 25px;
  margin-top: 20px;
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  font-size: 15px;
  padding: 20px;
  background-color: #62757f;
  border: 1px solid black;
  border-radius: 10px;
  width: 200px;
}

.menu-button:hover {
  color: #2196f3;
  border: 1px solid #2196f3;
  background-color: black;
  cursor: pointer;
}

.menu-button:focus {
  outline: none;
}

.navbar-menu-dropdown {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  font-family: "Roboto", sans-serif;
  background-color: #62757f;
  height: 50px;
  /* border: 1px solid black; */
  margin-top: 25px;
  margin-right: 25px;
  padding: 5px;
  border-radius: 10px;
  width: 700px;
  height: 60px;
}

.drop-option-button {
  background-color: #000000;
  border: 1px solid #2196f3;
  color: #2196f3;
  font-size: 15px;
  border-radius: 10px;
  width: 125px;
  height: 40px;
  /* margin-top: 20px; */
  padding-top: 5px;
}

.drop-option-button:hover {
  background-color: #2196f3;
  border: 1px solid black;
  color: #000000;
  cursor: pointer;
  text-decoration: underline;
}

.drop-option-button:focus {
  outline: none;
}

.decred-img-dropdown {
  width: 30px;
}
.tezos-img-dropdown {
  width: 30px;
}
.cosmos-img-dropdown {
  width: 30px;
}
.livepeer-img-dropdown {
  width: 30px;
}
